---
// Settings
// Components
import AppleTouchIconLinks from './AppleTouchIconLinks.astro';
import DefineWebComponents from './DefineWebComponents.astro';
import MiscellaneousMeta from './MiscellaneousMeta.astro';
import ServiceWorkerScript from "./ServiceWorkerScript.astro";
import SiteScripts from "./SiteScripts.astro";
import SiteStyles from "./SiteStyles.astro";
import TagManagerHead from './TagManagerHead.astro';
const DEFAULT_FAVICON="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=";
const DEFAULT_FAVICON_TYPE="image/x-icon";
// Content
const {
  title,
  titleJoiner=" : ",
  subtitle="",
  canonical,
  serviceWorkerScript,
  charSet="utf-8",
  manifest,
  favicon=DEFAULT_FAVICON,
  faviconType=DEFAULT_FAVICON_TYPE,
  tmid,
  appleTouchIcons=[],
  webComponents=[],
  externalScripts=[],
  externalStyles=[],
  criticalScripts="",
  criticalStyles="",
  meta} = Astro.props;
const displayTitle = subtitle? `${title}${titleJoiner}${subtitle}`: title;
---
<head>
  {tmid ? <TagManagerHead tmid={tmid} /> : ''}
  {displayTitle && <title>{displayTitle}</title>}
  <link
		rel="canonical"
		href={canonical}
	/>
  {charSet && <meta charset={charSet}>}
  {meta && <MiscellaneousMeta info={meta} />}
  <ServiceWorkerScript src={serviceWorkerScript} />
  {manifest && <link rel="manifest" href={manifest}/>}
  <link rel="icon" href={favicon} type={faviconType} />
  <SiteStyles hrefs={externalStyles} critical={criticalStyles}/>
  <SiteScripts srcs={externalScripts} critical={criticalScripts}/>
  <AppleTouchIconLinks icons={appleTouchIcons} />
  <DefineWebComponents components={webComponents} />
  <slot />
</head>