---
const {url, date, title, heroImage, description, author="", tags=[]} = Astro.props;
console.log(Astro.props)
---
<section class="blog-preview glowey-background">
  <header>
    {date}
    <a class="link-contents" href={url}><img src={heroImage}></a>
  </header>
  <article>
    <header>
      <a class="link-untracked" href={url}>
        <p>{title}</p>
      </a>
    </header>
    <p>{description}</p>
    <footer><a href={url}>Read more</a></footer>
  </article>
</section>
