---
const { prefix, page, start=''} = Astro.props;
const { currentPage, lastPage, url } = page;
const { prev, next }  = url;
const nums = Array
  .from(new Array(lastPage))
  .map((_, i)=>i+1);---
<a href={prev}>{prev ? 'prev': null}</a>
{nums
  .map((i)=>(
    start
        ? <a href={
      i === currentPage
        ? null
        : `${prefix}${i}`  }>{i}</a>
        : <a href={
      i === currentPage
        ? null
        : `${prefix}${i-1 ? (i) : ''}`  }>{i}</a>))}
<a href={next}>{next ? 'next': null}</a>