---
import * as SETTINGS from '../SETTINGS.mjs';
import DEFAULTS from '../SETTINGS.mjs';
// Todo: "import DEFAULTS, * as SETTINGS from '../SETTINGS.mjs'";
// causes SETTINGS to reset w/o awarness of the process.env variables.
const extract = (value)=>
  Array.isArray(value)
    ? <ul>{value.map(v=><li>{v}</li>)}</ul>
    : typeof value === "string" ?
      `"${value}"`
      : value;

const {class:className=null} = Astro.props;
---
<table class={className} >
  <tr>
    <th>KEY</th>
    <th>DEFAULT</th>
    <th>ENV</th>
    <th>FINAL</th>
  </tr>
  {Object.keys(DEFAULTS).map((key) => (
    <tr>
      <td>{key}</td>
      <td>{extract(DEFAULTS[key])}</td>
      <td>{extract(process.env[key])}</td>
      <td>{extract(SETTINGS[key])}</td>
    </tr>
  ))}
</table>