---
// Settings
// Components
import {SITE_CDN_URL} from "../SETTINGS.mjs";
import GDPRRequest from './GDPRRequest.astro';
import { TagManagerBody } from 'astro-plain';
import headerLinks from "../content/headerlinks.mjs";
// Content
const { title, headerClass, footerClass, author, tmid} = Astro.props;
const headerLogo = `${SITE_CDN_URL}image/iajh.png`;
---
<body class="color-theme-dark">
  <header class={headerClass}>
    <a href="/#" >{headerLogo && <img src={headerLogo} width="32" height="32" alt="logo" />}
    <p class="hide-n-show-landscape-inline">{title}</p></a>
    <nav class="hide show-landscape-flex">
      {headerLinks.map(({url, text}) => (
          <a href={`${url}`}>{text}</a>
        ))}
    </nav>
  </header>
  <!-- the good stuff -->
  <slot />
  <!-- the good stuff -->
  <span class="mouse-chaser" ></span>
  <footer class={footerClass}>
  <a href="https://github.com/johnhenry/johnhenry.github.io" target="_blank">© {new Date().getFullYear()}  {` ${author}`}</a>
  <a href="https://github.com/johnhenry/johnhenry" target="_blank">/profile</a>
  <a href="https://github.com/johnhenry/lib" target="_blank">/lib</a>
    <!-- Todo: Astro whitespace may be fixed in Astro 0.21? -->
    <nav>
        <button is="class-cycler-button"
          select="body"
          class="mouse-chaser-toggler"
          storage-key="mouse-chaser-preference"
          classes={[
          "",
          "mouse-chaser-logo",
          "mouse-chaser-coordinates"].join(",")}
        ></button>
        <button is="class-cycler-button"
          select="body"
          class="color-theme-toggler"
          storage-key="color-theme-preference"
          classes={["color-theme-dark",
          "",
          "color-theme-light"].join(",")}
        ></button>
    </nav>
  </footer>
  {tmid && <GDPRRequest /> }
  {tmid && <TagManagerBody tmid={tmid} />}
</body>
