---
// Settings
import { TAG_MANAGER_ID } from '../SETTINGS.mjs';
// Components
import SiteHead from "./SiteHead.astro";
import GDPRRequest from './GDPRRequest.astro';
import TagManagerBody from './TagManagerBody.astro';
import BodyClassCycler from './BodyClassCycler.astro';
// Content
const {
  title,
  headerTitle = title,
  description, keywords, author, canonical, headerLinks, htmlClass, bodyClass, headerClass, footerClass } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class={htmlClass}>
  <SiteHead title={title} description={description} keywords={keywords} author={author} canonical={canonical} ></SiteHead>
  <body class={bodyClass}>
    <BodyClassCycler
      global="cycleTheme"
      storage-key="color-theme-preference"
      classes={[
      "",
      "color-theme-dark",
      "color-theme-light"]} />
    <header class={headerClass}>
      <a href="/#" ><img src="/image/iajh.png" width="16" height="16"  alt="logo" />{headerTitle}</a>
      <nav>
        {headerLinks.map(({url, text}) => (
            <a href={`${url}`}>{text}</a>
          ))}
      </nav>
    </header>
    <slot />
    <span class="mouse-chaser" ></span>
    <footer class={footerClass}>
    <a href="#">© {new Date().getFullYear()}  {` ${author}`}</a>
      <!-- Todo: Astro whitespace may be fixed in Astro 0.21? -->
      <nav><a class="color-theme-toggler" onclick="window.cycleTheme()"></a>
      </nav>
    </footer>
    {TAG_MANAGER_ID ? <GDPRRequest /> : null}
    {TAG_MANAGER_ID ? <TagManagerBody tmid={`${TAG_MANAGER_ID}`} /> : null}
  </body>
</html>