---
// Settings
// Utilities
import sortPosts from "../../../utils/sort-posts.mjs";
// Components
import JH from "../../../components/jh/index.astro";
import SitePage from "../../../components/SitePage.astro";
import BlogPreview from "../../../components/BlogPreview.astro";
// Content;
const { tag } = Astro.params;
const { posts } = Astro.props;
// Misc.
export async function getStaticPaths() {
const { byTag } =
    sortPosts(
      await Astro
      .glob('../posts/*.md'));
    return byTag.map(([tag, posts]) => ({
      params: { tag },
      props: {
        posts,
        tag
      }
    }));
}
---
<SitePage
  subtitle={`Blog -- [${tag}]`}
  description={`#${tag}`}
  >
  <section class="blog-top">
    <header>
      <JH class="logo"/>
    </header>
    <header>
      <p>
        [{tag}]
      </p>
    </header>
    <p>This is the place where I muse about technology.</p>
  </section>
  {posts.map(({url, frontmatter:{date, title, description, heroImage, author, tags}}) =>
  <BlogPreview
  url={url}
  date={date}
  title={title}
  heroImage={heroImage}
  description={description}
  author={author}
  tags={tags}
/>)}
</SitePage>
