---
// Settings
import {
  SITE_TITLE,
  SITE_KEYWORDS,
  SITE_DESCRIPTION,
  SITE_AUTHOR,
  SITE_CANONICAL_URL} from "../../../SETTINGS.mjs";
// Utilities
import sortPosts from "../../../utils/sort-posts.mjs";
// Components
import JH from "../../../components/jh/index.astro";
import SitePage from "../../../components/SitePage.astro";
// Content;
import headerLinks from "../../../content/headerlinks.mjs";
const { tag } = Astro.request.params;
const { posts } = Astro.props;
const title = `${SITE_TITLE} Blog: ${tag}`;
// Misc.
export function getStaticPaths() {
const { byTag } =
    sortPosts(
      Astro
      .fetchContent('../posts/*.md'));
    return byTag.map(([tag, posts]) => ({
      params: { tag },
      props: {
        posts,
        tag
      }
    }));
}
---
<SitePage
  title={`Blog > [${tag}]`}
  description={SITE_DESCRIPTION}
  keywords={SITE_KEYWORDS}
  author={SITE_AUTHOR}
  canonical={SITE_CANONICAL_URL}
  headerLinks={headerLinks}>
  <section class="blog-top">
    <header>
      <JH class="logo"/>
    </header>
    <header>
      <p>
        [{tag}]
      </p>
    </header>
    <p>This is the place where I muse about technology.</p>
  </section>
  {posts.map(({date, url, title, description, heroImage}) =>
  <section class="blog-preview">
    <header><a class="link-untracked" href={url}><p>{date}</p>{title}</a></header>
    <article>
      <img src={heroImage}>
      <p>{description}</p>
    </article>
    <footer><a href={url}>Read more</a></footer>
  </section>)}
</SitePage>
